@import url(root.css);
@import url(font.css);

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 0 transparent;
    box-shadow: none;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    align-content: center;
    direction: ltr;
    line-height: normal;
    background: transparent;
    outline: 0 transparent;
    list-style-type: none;
    font-family: Gilory;

    scrollbar-width: none;
    /* overflow: auto; */
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

*::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    /* for Chrome, Safari, and Opera */
}


.main {
    width: 100%;
    height: calc(100vh + 8rem);
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem 4rem 8rem;

    scrollbar-width: none;
    overflow: auto;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;

    background-color: var(--background)
}

.main::-webkit-scrollbar {
    display: none;
    width: 0 !important;
    /* for Chrome, Safari, and Opera */
}

a {
    color: var(--textcolor-black);
}











/*  main content  */

.bg-blur {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    filter: blur(80px);
    -webkit-filter: blur(80px);
    position: fixed;
    z-index: 0;
}

.bg-blur-blue {
    background-color: var(--lightcoloryellow);
    animation: anim-bg-blue 50s infinite alternate-reverse;
}

@keyframes anim-bg-blue {
    0% {
        left: 18rem;
        top: 10rem;
    }

    25% {
        left: 40rem;
        top: 20rem;
    }

    50% {
        left: 35rem;
        top: 35rem;
    }

    75% {
        left: 10rem;
        top: 22rem;
    }

    100% {
        left: 18rem;
        top: 10rem;
    }
}


.bg-blur-yellow {
    background-color: var(--lightcoloryellow);
    animation: anim-bg-yellow 35s infinite normal;
}

@keyframes anim-bg-yellow {
    0% {
        left: 18rem;
        top: 10rem;
    }

    25% {
        left: 40rem;
        top: 20rem;
    }

    50% {
        left: 35rem;
        top: 35rem;
    }

    75% {
        left: 10rem;
        top: 22rem;
    }

    100% {
        left: 18rem;
        top: 10rem;
    }
}

.texte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    align-content: center;
    column-gap: 3rem;
}

.texte>div {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.texte-big {
    font-size: 3rem;
    text-align: left;
    font-weight: 900;
    color: var(--textcolor-black);
}

.texte-small {
    font-size: 1.2rem;
    text-align: left;
    font-weight: 300;
    margin-top: 2.5rem;
    color: var(--textcolor-black);
}

.texte-small>span {
    color: var(--lightcolorblue);
}

.texte>div>img {
    width: 52%;
    background-repeat: no-repeat;
    margin-top: 3rem;
    animation: anim-men 15s infinite normal;
}

@keyframes anim-men {
    0% {
        transform: rotate(5deg);
        transform: translateY(-20px);
    }

    50% {
        transform: rotate(-5deg);
        transform: scale(1.1);
        transform: translateY(10px);
    }

    100% {
        transform: rotate(5deg);
        transform: translateY(-20px);
    }
}










/*  form input  */

#form-sign-in {
    width: 95%;
}


.input-text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: var(--backinput);
    padding: 15px 20px;
    border-radius: 10px;
    margin: 15px 0;
}

.input-text>input {
    width: 95%;
    color: #000;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.input-text>i {
    text-align: center;
    font-size: 13px;
    color: #667085;
}

.input-text>i:hover {
    color: var(--hover-alert-red);
    cursor: pointer;
}

.input-text-password {
    letter-spacing: 2px;
}

.input-text::placeholder {
    color: var(--placeholder-input-textcolor);
    font-weight: 300;
    text-align: left;
}


.check-input {
    font-size: 12px;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
    color: var(--hover-alert-red);
    transition: 0.5s;
}

#rec-pass {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
    color: #C7C7C7;
    margin: 25px 0 0 0;
    letter-spacing: 1px;
    transition: 0.3s;
}

#rec-pass:hover {
    color: rgb(231, 71, 71);
    cursor: pointer;
    transition: 0.3s;
}

.input-btn {
    width: 100%;
    color: #fff;
    background-color: var(--lightcolorblue);
    font-size: 15px;
    font-weight: 500;
    padding: 18px 20px;
    border-radius: 10px;
    margin: 3rem 0 2.5rem 0;
    box-shadow: 0px 8px 15px rgba(68, 97, 242, 0.32);
    transition: 0.3s;
}

.input-btn:hover {
    cursor: pointer;
    box-shadow: 0px 10px 18px rgba(68, 97, 242, 0.42);
    transition: 0.3s;
}


#account-with {
    display: flex;
    column-gap: 1rem;
}

#account-with>hr {
    background-color: #DFDFDF;
    height: 0.1rem;
    width: 90%;
}

#account-with>p {
    font-size: 15px;
    font-weight: 300;
    width: 100%;
    color: #ACADAC;
}


#account {
    display: flex;
    margin-top: 2rem;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
}

.btn-account {
    width: 100%;
    border-radius: 10px;
    border: 1px solid #DDDFDD;
    background-color: #fff;
    padding: 15px 20px;
    margin: 10px;
    transition: 0.3s;
}

.btn-account:hover {
    background-color: #fff;
    box-shadow: var(--shadow-btn-accunt);
    border: 1px transparent;
    cursor: pointer;
    transition: 0.3s;
}









/*  about  */



#about {
    width: 100%;
    height: 100vh;
    background-color: var(--background);
    padding: 2rem 8rem;
    display: flex;
}








































@media(min-width:1025px) and (max-width:1366px) {

    .main {
        padding: 3rem 4rem;
    }

    .bg-blur {
        width: 110px;
        height: 110px;
    }

    .texte {
        justify-content: space-between;
        column-gap: 2rem;
    }

    .texte>div {
        flex-wrap: nowrap;
        align-items: flex-start;

    }

    .texte-big {
        font-size: 3rem;
    }

    .texte-small {
        font-size: 1.2rem;
    }

    .texte>div>img {
        width: 360px;
        margin-top: 5rem;
    }
}

@media(min-width:769px) and (max-width:1024px) {


    .main {
        padding: 3rem;
    }

    .aside {
        width: 15rem;
    }

    .bg-blur {
        width: 90px;
        height: 90px;
    }

    @keyframes anim-bg-blue {
        0% {
            left: 10rem;
            top: 10rem;
        }

        25% {
            left: 25rem;
            top: 20rem;
        }

        50% {
            left: 10rem;
            top: 30rem;
        }

        75% {
            left: 10rem;
            top: 22rem;
        }

        100% {
            left: 10rem;
            top: 10rem;
        }
    }

    @keyframes anim-bg-yellow {
        0% {
            left: 10rem;
            top: 10rem;
        }

        25% {
            left: 25rem;
            top: 20rem;
        }

        50% {
            left: 10rem;
            top: 30rem;
        }

        75% {
            left: 10rem;
            top: 22rem;
        }

        100% {
            left: 10rem;
            top: 10rem;
        }
    }


    .texte {
        align-items: baseline;
        justify-content: center;
    }


    .texte>div {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .texte-big {
        font-size: 2.6rem;
    }

    .texte-small {
        font-size: 1.1rem;
    }

    .texte>div>img {
        width: 350px;
        margin-top: 3rem;
        margin-left: 0;
    }

    #form-sign-in {
        width: 40%;
    }


}

@media(min-width:769px) and (max-width:867px) {

    .texte {
        column-gap: 1rem;
    }
}

@media(min-width:501px) and (max-width:768px) {

    .main {
        padding: 3rem;
    }

    .aside {
        width: 15rem;
    }

    .nav-menu-left {
        display: none;
    }

    .nav-menu-right {
        column-gap: 0.5rem;
    }

    .fa {
        display: var(--fa-display, block);
    }

    .bg-blur {
        width: 90px;
        height: 90px;
    }

    @keyframes anim-bg-blue {
        0% {
            left: 10rem;
            top: 10rem;
        }

        25% {
            left: 25rem;
            top: 20rem;
        }

        50% {
            left: 10rem;
            top: 30rem;
        }

        75% {
            left: 10rem;
            top: 22rem;
        }

        100% {
            left: 10rem;
            top: 10rem;
        }
    }

    @keyframes anim-bg-yellow {
        0% {
            left: 10rem;
            top: 10rem;
        }

        25% {
            left: 25rem;
            top: 20rem;
        }

        50% {
            left: 10rem;
            top: 30rem;
        }

        75% {
            left: 10rem;
            top: 22rem;
        }

        100% {
            left: 10rem;
            top: 10rem;
        }
    }


    .texte {
        display: flex;
        flex-wrap: nowrap;
        align-content: center;
        align-items: baseline;
        justify-content: space-around;
    }


    .texte>div {
        width: 48%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
    }

    .texte-big {
        font-size: 2.6rem;
    }

    .texte-small {
        font-size: 1.1rem;
    }

    .texte>div>img {
        width: 300px;
        margin-top: 3rem;
        margin-left: 0;
    }

    #account-with>hr {
        width: 50%;
    }

    #form-sign-in {
        width: 40%;
    }


}

@media(max-width:500px) {

    .main {
        padding: 2rem 2rem;
    }

    .aside {
        width: 12rem;
    }

    .nav-menu-left {
        display: none;
    }

    .nav-menu-right {
        column-gap: 0.5rem;
    }

    .fa {
        display: var(--fa-display, block);
    }

    .bg-blur {
        width: 90px;
        height: 90px;
    }

    .texte {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        align-items: baseline;
        justify-content: center;
    }


    .texte>div {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .texte-big {
        font-size: 2.5rem;
    }

    .texte-small {
        font-size: 1rem;
        margin-top: 2rem;
    }

    .texte>div>img {
        width: 250px;
        margin-top: 2rem;
        margin-left: 0;
    }

    #form-sign-in {
        width: 100%;
    }

}