
:root {

    --background : #fff ;
    /* --background : #14162E ; */

    --footer-background : #1d262d ;


    --textcolor-black : #000 ;
    --textcolor-white : #fff ;


    --lightcolorblue : #4461F2 ;
    --lightcoloryellow :#DDA82A ;
    --backinput : #EAF0F7 ;
    --back-dropdown : #EAF0F7 ;
    --placeholder-input-textcolor : #4F555A ;
    --hover-alert-red : #e74747;

    --shadow-btn-accunt : 0px 8px 15px #00000020;

 
}

